<%- include("_header") -%>

<h1> Customer Import </h1>

<label for ="databasefile">Total number of records in the database: <%= totRecs %> </label>
<br>
<label for="databasefile">Select a file with customers for Database Insert</label>
<br>
<form action="/import" method="POST">
<input type="file"
       id="databasefile" name="databasefile"
       accept="text/plain">
<input type="submit" value="Submit" />
</form>

<%- include("_footer") -%>   