<%- include("_header") -%>

<h1> Reports </h1>

<select name="report" id="report">
    <option value="alllname">All Customers - Sorted by Customer Last Name, First Name</option>
    <option value="allsalesd">Sorted by Current Total Sales Decreasing</option>
    <option value="threerandom">Three Random Customers - Promotional Giveaway (Not Repeating) </option>
</select>

<%- include("_footer") -%>   